.Card {
  border: 1px solid #e1e1e1;
  margin-top: 10px;
  margin-right: 20px;
  float: left;
}

.landscape {
  width: 250px;
}

.imageContainer.landscape {
  height: 125px;
}

.square {
  width: 175px;
}

.imageContainer.square {
  height: 175px;
}

.Card .image {
  display: block;
  margin: auto;
}

.landscape .image {
  max-width: 250px;
  max-height: 125px;
}

.square .image {
  max-width: 175px;
  max-height: 175px;
}

.Card .details {
  padding:10px;
  border-top: 1px solid #e1e1e1;
  background-color: #f1f1f1;
}

.Card .title {
  color: #2f516d;
  font-weight: bold;
  font-size: 12px;
  height: 18px;
  overflow: hidden;
}

.Card .location {
  color: #899bb2;
  font-size: 11px;
  height: 16px;
  overflow: hidden;
}