.Card {
  border: 1px solid #e1e1e1;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  width: 200px;
}

.Card .image {
  max-height: 100px;
  max-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Card .details {
  padding:10px;
  border-top: 1px solid #e1e1e1;
  background-color: #f1f1f1;
}

.Card .title {
  color: #2f516d;
  font-weight: bold;
  font-size: 12px;
  width: 180px;
  height: 18px;
  overflow: hidden;
}

.Card .location {
  color: #899bb2;
  font-size: 11px;
}